/*PAGINA CONTACTO*/

.igcontacto{
    width: 200px;
    height: 200px; 
}

.iganch{
    text-decoration: none;
    margin: 40px;
}

.titContacto{
    text-align: center;
}

.igCaja{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.reSeñas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;

}