/*PAGINA PLANES*/

.titPlanes{
    text-align: center;
    margin-top: 60px;
}

.containerPlanes{
    display: grid;
    grid-template-columns: repeat(3, 34%);
    margin: 30px;
}

.card-planes{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(245, 202, 253, 0.75);
    border-radius: 60px;
    margin: 30px;
}